<% include partials/_header %>

<div class="container">
  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="product.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Estampado cool</h4>
          <p class="card-text">
            $55.000
          </p>
          <a href="/detalle" class="btn btn-primary" id="foo">Informacion producto</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="product.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <a href="/detallea" class="btn btn-primary">Informacion producto</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="product.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <!-- /detalleb -->
          <a href="#!" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="product.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <!-- /detallec -->
          <a href="#!" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="product.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <!-- /detalled -->
          <a href="#!" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="product.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <!-- /detallee -->
          <a href="#!" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
